<span
  class="icon-loader absolute inset-0 flex content-center gap opacity-0 pointer-none"
  style="--gap-desktop: 6px;--gap: 6px;"
>
  <span class="w-custom h-custom rounded-50"></span>
  <span class="w-custom h-custom rounded-50"></span>
  <span class="w-custom h-custom rounded-50"></span>
</span>
