<div class="header__wishlist hidden block-1025">
  <a
    href="/pages/wishlist"
    class="header-icon header-color w-44 h-44 inline-flex content-center"
    arial-label="{{ 'templates.wishlist.wishlist' | t }}"
  >
    <h-count class="relative lh-1 fs-0">
      <svg width="19" height="16" viewBox="0 0 19 16" fill="none">
        <use href="#icon-wishlist-header" />
      </svg>
      <span class="absolute lh-1 wishlist-count h-count inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-10">
        0
      </span>
    </h-count>
  </a>
</div>
