{% liquid
  assign block_st = block.settings
  assign section_st = section.settings
  assign enable_skeleton_loading = section_st.enable_skeleton_loading
%}
{% if block_st.content %}
  <div class="live_view flex flex-wrap gap-10 align-center mb-20{% if enable_skeleton_loading %} skeleton-loading{% endif %}">
    <svg width="30" height="25" fill="none">
      <rect width="30" height="25" y=".001" fill="#111" rx="3"/><path fill="#fff" d="m8.563 12.339.153-.28c.101-.194.25-.431.444-.71.127-.178.267-.369.42-.572a8.86 8.86 0 0 1 .532-.634c.246-.263.517-.525.813-.788.304-.262.635-.503.99-.723.432-.271.906-.491 1.422-.66A5.076 5.076 0 0 1 15 7.705c.592 0 1.147.089 1.663.267.516.169.99.389 1.422.66.355.22.681.461.977.723.305.263.58.525.826.788.194.211.368.423.52.634.161.204.305.394.432.572.195.279.343.516.444.71l.152.28c.043.085.064.17.064.254 0 .084-.021.16-.064.228l-.152.292c-.101.187-.25.424-.444.711-.127.178-.271.373-.432.584a8.1 8.1 0 0 1-.52.622c-.246.263-.52.525-.826.787a7.126 7.126 0 0 1-.977.724c-.432.27-.906.49-1.422.66a5.31 5.31 0 0 1-1.663.254 5.31 5.31 0 0 1-1.663-.254c-.516-.17-.99-.39-1.422-.66a7.827 7.827 0 0 1-.99-.724 12.092 12.092 0 0 1-.813-.787 11.09 11.09 0 0 1-.533-.622l-.419-.584a9.18 9.18 0 0 1-.444-.71l-.153-.293a.49.49 0 0 1 0-.482Zm1.092.241c.051.076.106.17.165.28.068.1.148.22.242.355.11.16.237.334.38.52.144.187.3.373.47.559.22.237.461.47.724.698.262.229.546.44.85.635.364.22.754.402 1.168.546a4.39 4.39 0 0 0 1.346.203 4.27 4.27 0 0 0 1.333-.203 6.022 6.022 0 0 0 1.18-.546c.305-.195.589-.406.851-.635a9.52 9.52 0 0 0 .724-.698c.17-.186.326-.373.47-.559.143-.186.27-.36.38-.52.094-.136.17-.254.229-.356.068-.11.127-.203.178-.279l-.178-.267a3.087 3.087 0 0 0-.229-.355 11.2 11.2 0 0 0-.38-.52 9.134 9.134 0 0 0-1.194-1.27 6.269 6.269 0 0 0-.85-.622A5.178 5.178 0 0 0 16.333 9 4.269 4.269 0 0 0 15 8.797c-.474 0-.922.068-1.346.203a5.256 5.256 0 0 0-1.168.546 6.269 6.269 0 0 0-.85.622 9.134 9.134 0 0 0-1.193 1.27 11.2 11.2 0 0 0-.382.52 5.362 5.362 0 0 0-.24.355c-.06.102-.115.19-.166.267Zm7.516 0c0 .305-.06.588-.178.85-.11.263-.262.492-.457.686a2.143 2.143 0 0 1-1.536.635c-.296 0-.58-.055-.85-.165a2.294 2.294 0 0 1-.686-.47 2.296 2.296 0 0 1-.47-.685 2.178 2.178 0 0 1-.165-.85c0-.297.055-.576.165-.839.119-.262.275-.49.47-.685.194-.195.423-.347.685-.457a2.1 2.1 0 0 1 1.689 0 2.084 2.084 0 0 1 1.155 1.142c.119.263.178.542.178.838Zm-1.092 0c0-.144-.03-.28-.089-.406a.985.985 0 0 0-.228-.356.872.872 0 0 0-.343-.228 1.066 1.066 0 0 0-.85 0 .892.892 0 0 0-.33.228c-.102.102-.183.22-.242.356-.05.127-.076.262-.076.406 0 .152.025.296.076.432.06.127.14.24.241.342a1.064 1.064 0 0 0 1.18.229c.136-.06.25-.135.344-.229.101-.101.178-.215.228-.342.06-.136.09-.28.09-.432Z"/>
    </svg>
    <live-view
      data-min="{{ block_st.min_number }}"
      data-max="{{ block_st.max_number }}"
      data-interval="{{ block_st.interval_time }}"
      data-message="{{ block_st.content }}"
      class="heading-color lh-normal"
    >
    </live-view>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:blocks.product.live_view.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "min_number",
      "label": "t:sections.main-product.blocks.live_view.settings.min_number",
      "default": 10,
      "min": 1,
      "max": 30,
      "step": 1
    },
    {
      "type": "range",
      "id": "max_number",
      "label": "t:sections.main-product.blocks.live_view.settings.max_number",
      "default": 40,
      "min": 31,
      "max": 50,
      "step": 1
    },
    {
      "type": "range",
      "id": "interval_time",
      "label": "t:sections.main-product.blocks.live_view.settings.interval_time",
      "default": 10,
      "min": 1,
      "max": 60,
      "step": 1
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.main-product.blocks.live_view.settings.content",
      "default": "[count] peoples are viewing this right now"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.product.live_view.name"
    }
  ]
}
{% endschema %}
