{% liquid
  assign product = closest.product
%}
<div
  class="product-detail__variant-picker mb-25"
  {{ block.shopify_attributes }}
  data-type="{{ block.settings.variant_type }}"
>
  {%- render 'color-swatches', product: product, type: 'detail', block: block -%}
</div>
{% schema %}
{
  "name": "t:blocks.product.variant_picker.name",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "variant_type",
      "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label",
      "options": [
        {
          "value": "swatches",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
        },
        {
          "value": "dropdown",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
        }
      ],
      "default": "swatches"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.blocks.variant_picker.settings.size_guide.heading"
    },
    {
      "type": "checkbox",
      "id": "show_size_guide",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.show_size_guide",
      "default": false
    },
    {
      "type": "text",
      "id": "size_guide_label",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.size_guide_label",
      "default": "Size guide"
    },
    {
      "type": "page",
      "id": "size_guide_page",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.size_guide_page",
      "info": "t:sections.main-product.blocks.variant_picker.settings.size_guide.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.custom_size_guide.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.custom_size_guide.info__1"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.blocks.variant_picker.settings.size_guide.settings.custom_size_guide.info__2"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.product.variant_picker.name"
    }
  ]
}
{% endschema %}
